.body {
  background-color: #000211;
  color: white;
}
.body-container {
  width: 90%;
  margin: auto;
}
.profile-info {
  width: 33%;
}
.profile-info a {
  color: white;
}
.portfolio-image {
  width: 300px;
  height: auto;
}
a {
  text-decoration: none;
  color: black;
}
.list {
  width: 100%;
}
.skills-list {
  list-style-type: none;
  width: 100%;
}
.skills-list li {
  text-align: center;
  font-size: 1.5rem;
  color: white;
}
.project-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.project-container img {
  width: 500px;
  height: 400px;
}

.modal-tools-container {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
}
.modal-tools-container li {
  font-size: 2.25rem;
}

.modal-tools-container li div {
  text-align: center;
}

.about-me {
  margin: auto;
  width: 70%;
}

.single-project {
}
.project-image:hover {
  opacity: 0.5;
  cursor: pointer;
}
.fa-vuejs {
  color: #42b883;
}
.fa-bootstrap {
  color: #563d7c;
}

.firebase-color {
  color: red;
}
.phpmyadmin-color {
  color: #61dafb;
}
.fa-wordpress {
  color: #00749c;
}
.fa-php {
  color: #8993be;
}
.fa-react {
  color: #61dafb;
}
.fa-js {
  color: #f0db4f;
}
.fa-github,
.fa-linkedin {
  color: white;
  font-size: 2rem;
}

.fa-github:hover,
.fa-linkedin:hover {
  opacity: 0.5;
}
.social-media {
  display: flex;
  width: 30%;
  margin: auto;
  justify-content: space-evenly;
}

.social-links a {
  text-decoration: none;
  color: white;
}

.border-color {
  border: 3px solid white;
}
.modal-color {
  background-color: #000211;
}
.modal-foot {
  background-color: #000211;
}
.github-button {
  border-radius: 10px;
  padding: 5px 35px;
}
.linkedin-button {
  border-radius: 10px;
  padding: 5px 35px;
}

.link-button {
  border: 3px solid white;
  color: white;
  background-color: #000211;
  border-radius: 5px;
  width: 200px;
}
.link-button:hover {
  border: 3px solid #000211;
  color: #000211;
  background-color: white;
}

.close-button {
  width: 100%;
}

.img-skills-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.looking-for {
  width: 33%;
}

@media screen and (max-width: 1610px) {
  .looking-for {
    margin: auto;
    text-align: left;
    width: 80%;
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 840px) {
  .img-skills-container {
    text-align: center;
    display: block;
  }
  .profile-info {
    text-align: left;
    margin: auto;
    width: 80%;
  }
}
@media screen and (max-width: 600px) {
  .project-container img {
    width: 300px;
    height: auto;
  }
}
